body{
  font-family: 'Oswald', sans-serif;
}
.navbar{
  background-color: #e3f2fd;
}
.nav-right{
  margin-left: 50% auto;
}
.main{
  background-color: #e3f2fd;
  color:#0077D2;
}
.main-placeholder img{
  display: inline;
}
.img-placeholder{
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
 }
