body{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  background-color: rgb(51, 146, 207);
}

.header{
  margin: 40px;
  color: white;
}

#userInput{
  width: 350px;
  height: 35px;
  display: inline-block;
}

.btn{
  margin: 20px 5px;

}

.form-control{
  margin: 0 auto;
  color: black;
}

.bod{
  background-color: rgb(41, 91, 138);
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin-left: 25%;

}

#list{
  color: white;
}
