body{
  background: rgba(147,206,222,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
}

.container{
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 3em;
}

.out{
  margin-bottom: 10px;
  width: 100%;
  color: #f63;
  text-align: center;

}

.myBtn{
  padding-left: 20px 20px;
  font-size: 40px;
  margin-bottom: 20px;
}

.pass{
  width: 400px;
  float: left;
  font-size: 30px;
  color: #fff;
  margin-left: 0;
  padding: 20px;
  background-color: #f63;
}

.in{
  padding: 3px;
  margin: 0;
  float: right;
  text-align: center;
  background-color: #fff;
  color: #f63;
}
